body {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: lightblue;
}

#container{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 5% 0% 0% 0%;
}

h1{
    align-self: center;
}

#inputContainer {
    display: grid;
    height: 3rem;
    grid-template-rows: [row1-start] 33% [row2-start] 33% [row3-start] auto [end];
    row-gap: 50%;
    column-gap: 2%;
    grid-template-columns: repeat(8, 1fr);
    width: 70%;
    align-self: center;
    margin-top: 5%;
}

.eleInput{
    width: 100%
}

#mass{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 10;
    width: 10%;
    align-self: center;
    justify-self: center;
}

#submit{
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 10;
    width: 10%;
    align-self: center;
    justify-self: center;
}